* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Averia Libre', cursive;
    color: white;
}

body {
    background-color: #372775;
}

header {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 0rem 3.5rem 2rem;
    font-size: 3rem;
}

input {
    height: 3em;
    font-size: 1rem;
    padding: 1rem;
    color: #3F92C5;
}

button {
    margin-top: 1.5rem;
    padding: .6rem 2rem;
    font-size: 1.3rem;
    border-radius: .5rem;
    background-color: #37BD6D;
    border: none;
}

.recuperar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 3.5rem;
}

.container {
    border: 1px solid #737373;
    border-radius: 3%;
    width: 40%;
    height: 450px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 5rem;
}

.redefinir-senha{
    font-size: 1.7rem;
}

.input {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    gap: .20rem;

}

.error {
    padding-top: .4rem;
    font-size: 1.1rem;
}

.error span {
    color: #FD7979;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40
    }

.large {
    font-size: 40pt;
    padding-right: 5px;
}